<div class="col-md-3">

    <div class="card text-center">
        <div class="card-header">
            <h6>{{data.title}}</h6>
        
        </div>
        <div class="card-body">
          <h5 class="card-title">{{data.data}}</h5>
          <p class="card-text">{{data.message}}</p>
          <ul class="nav">
            <li class="nav-item" *ngFor="let d of parentdata">
              <a class="nav-link active" [routerLink]='d.route'>{{d.title}}</a>
            </li>
            
        
          </ul>
          <br/>
          <a [routerLink]="data.route" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
